*, *:after, *:before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.raiz {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100vh;
}
.form-login {
    padding: 40px 10px 20px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    max-width: 600px;
    min-width: 350px;
   
}

.form-login__div-usuario, .form-login__div-password {
    margin-bottom: 10px;  
    padding-left: 10px;  
    display: -webkit-box;  
    display: -ms-flexbox;  
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.form-login__input-usuario, .form-login__input-password {
    padding: 5px;
    display: inline-block;
    width: 100%;
    margin-left: 5px;
}

.form-login__boton_submit {
    display: block;
    width: 100%;
    border: 1px solid rgba(100,100, 250, .8);
    padding: 5px;
    margin-top: 20px;
    background-color: rgba(100,100, 250, .6);
    color: white;
    font-size: 1.08em;
    border-radius: 3px;
}

.form-login__boton_submit:hover {
    background-color: rgba(100,100, 250, .7);
}